.booking-interface{
    width: 48vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height:auto;
flex-wrap: wrap;
}

.time-slots{
   max-width: 35vw; /* Limit the maximum width for better responsiveness */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    
}

.morning, .evening, .afternoon{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: 35vw;
  
    
}
 


.timimg-head{
    width: 30%;
}

.head{
    width: 7vw;
}
.time-buttons{
width: 25vw;
display: flex;
justify-content: start;


}

.time-btn{
    margin: 6px;
}






.morning button,
.evening button,
.afternoon button{
  width: 72px;
  height: 30px;
  font-size: 12px;
  padding: 3px;
 color: rgb(126, 89, 152);
 border: 1px solid  rgb(126, 89, 152);
  
}





.morning h3,
.evening h3,
.afternoon h3{
    font-size: 0.75rem;
    color: rgb(45, 45, 45);
}

.horizontal-rule{
    width: 80%;
   
    color: rgb(209, 209, 209);
    outline: none;
}





.time-slots .selected-time-btn {
  width: auto;
  height: auto;
    margin: 5px;
    border: 2px solid #00862f;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00862f; /* Background color when selected */
    color: #fff; /* Text color when selected */
  }


  .confirm-btn{
    margin-top: 6px;
    width: 6.5vw;
    height: 30px;
    background-color: indigo;
    border: none;
    color: white;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
   
    .booking-interface {
      width: 90vw; 
    }
  
    .time-slots {
      max-width: 90vw;
    }
  
    .morning,
    .evening,
    .afternoon {
      width: 90%; 
    }

    .time-btn {
        margin: 6px;
        width: auto; /* Adjusted to auto width for better responsiveness */
        height: auto; /* Adjusted to auto height for better responsiveness */
      }



    .time-buttons {
        width: 100%; /* Adjusted to full width for better responsiveness */
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center align the time slots */
      }

    .confirm-btn{
        width: auto;
    }
  }