.nav-container{
display: flex;
justify-content: space-between;

align-items: center;
width: 100vw;
background-color: indigo; 
filter: drop-shadow(12px 2px 5px );
border-bottom:6px solid #ffffff;
position: fixed;
z-index: 50;
color: white;
font-weight: 500;
margin-bottom: 10vh;

}


.logo{
    margin-left: 4vw;
}
.nav-items{
    margin-right: 4vw;
}

.nav-items ul{
    display: flex;
    justify-content: space-around;
    padding:5px;
    align-items: center;
}

.nav-items ul li{
    list-style: none;
    margin: 0 10px;
    padding:0 25px;
}

.draw-border {
    box-shadow: inset 0 0 0 4px rgb(46, 0, 79);
    color: #ffffff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #ffffff;
    font-weight: 600;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffffff;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
  padding: 10px 15px;
  
  
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted rgb(36, 1, 60);
  }
  
  